<ul>
	<li ui-sref-active='active'>
		<a ng-click="go('home')" class="main-item" ui-sref="home">
			<span>Home</span>
		</a>
	</li>
	<li ui-sref-active='active'>
		<a ng-click="go('about')" class="main-item" ui-sref="about">
			<span>About</span>
		</a>
	</li>
	<li class="active">
		<a class="main-item" href="#">
			<span>Manage project</span>
			<i class="chevron"></i>
		</a>
		<ul>
			<li>
				<a class="sub-item" href="#">
					<span>Add a project</span>
				</a>
			</li>
			<li>
				<a class="sub-item" href="#">
					<span>Edit a project</span>
				</a>
			</li>
		</ul>
	</li>
</ul>