<section ng-if="projects">
	<div class="page-title">
		<div class="wrapper-fluid">
			<i class="fa fa-home"></i>
			<h2>Home</h2>
			<span>All your latest projects in one place</span>
		</div>
	</div>
	<div class="wrapper-fluid">
		<div ng-repeat="project in projects" class="project" style="background-color: {{ project.color }}">
			<i class="fa fa-cog project-options" ng-class="menuOpened['{{ $index }}'] ? 'open' : ''" ng-click="toggleMenu($index, $event)"></i>
			<ul class="menu-options" id="menu_{{$index}}">
				<li class="options-header">
					Actions
				</li>
				<li>
					<a href="#" ui-sref="project({ name: project.name })" ng-click="toggleMenu($index, $event)">Edit</a>
				</li>
				<li>
					<a href="#" ng-click="delete(project.name); toggleMenu($index, $event); reload();">Delete</a>
				</li>
				<li class="options-header">
					Utilities
				</li>
				<li>
					<a href="#" ng-click="toggleMenu($index, $event)">Open in Code</a>
				</li>
				<li>
					<a href="#" ng-click="toggleMenu($index, $event); openExplorer(project);">Open in Explorer</a>
				</li>
			</ul>
			<div class="container">
				<h2 class="project-name">
					{{ project.name }}
				</h2>
				<h3 class="project-description">
					{{ project.description }}
				</h3>
				<div class="project-languages">
					<span ng-repeat="language in project.languages" class="project-language">
						{{ language }}
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- If there are no projects yet -->
<div ng-if="!projects" ng-init="go('upload');">
</div>
<!-- Redirect to upload page -->

	