<section>
	<div class="page-title">
		<div class="wrapper-fluid">
			<i class="fa fa-wrench"></i>
			<h2>{{ project.name }}</h2>
			<span>Management page</span>
		</div>
	</div>
	<div class="wrapper-fluid">
		<div class="panel">
			<div class="header">
				<i class="fa fa-pencil-square-o"></i>
				<h2>Edit details</h2>
			</div>
			<div class="content">
				<div class="form-control">
					<label for="name">Name</label>
					<input type="text" ng-model="project.name" />
				</div>
				<div class="form-control">
					<label for="name">Background color</label>
					<div class="color-picker">
						<div class="selected-color" style='background-color: {{ project.color }};'></div>
						<input colorpicker type="text" name="picker" ng-model="project.color" />
					</div>
				</div>
				<div class="form-control">
					<label for="description">Description</label>
					<textarea ng-model="project.description"></textarea>
				</div>
			</div>
			<div class="buttons">
				<button class="btn btn-primary" ng-click="update(project)">Save</button>
			</div>
		</div>
	</div>
</section>