{{#if projects}}
	<section>
		<div class="wrapper-fluid">
			<h2 class="page-title">Newest projects</h2>
			{{#projects }}
			<div class="project" style="background-color: {{ color }}">
				<i class="fa fa-cog project-options"></i>
				<ul class="menu-options">
					<li class="options-header">
						Actions
					</li>
					<li>
						<a href="#" data-action="edit" data-value="{{ name }}">Edit</a>
					</li>
					<li>
						<a href="#" data-action="delete" data-value="{{ name }}">Delete</a>
					</li>
					<li class="options-header">
						Utilities
					</li>
					<li>
						<a href="#">Open in Code</a>
					</li>
					<li>
						<a href="#" data-action="open-explorer" data-value="file:///{{ url }}">Open in Explorer</a>
					</li>
				</ul>
				<div class="container">
					<span class="project-language">
						{{ language }}
					</span>
					<h2 class="project-name">
						{{ name }}
					</h2>
					<h3 class="project-description">
						{{ description }}
					</h3>
				</div>
			</div>
			{{/projects}}
		</div>
	</section>
{{else}}
	<!-- If there are no projects yet -->
	<div id="upload">
		<h2>Drag & drop to add your first project</h2>
	</div>
	<!-- Upload drag functionality -->
	<script type="text/javascript" src="{{ base }}public/js/project.js"></script>
{{/if}}
	